<%= stylesheet_link_tag "lessons/lessons", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<div class="col-md-3 col-xs-12">
<ul class="note">
<li><%= link_to "法学部",lessonhs_path%></li>
<li><%= link_to "商学部",lessonsyos_path%></li>
<li><%= link_to "政治経済学部",lessonses_path%></li>
<li><%= link_to "経営学部",lessonkes_path%></li>
<li><%= link_to "文学部",lessonbs_path%></li>
<li><%= link_to "情報コミュニケーション学部",lessons_path%></li>
<li><%= link_to "国際日本学部",lessonkos_path%></li>
<li><%= link_to "理工学部",lessonris_path%></li>
<li><%= link_to "農学部",lessonnos_path%></li>
<li><%= link_to "総合数理学部",lessonsos_path%></li>
<li><%= link_to "全学部共通科目",lessonkyos_path%></li>
</ul>
</div>
<div class="col-md-7 col-xs-12">
<div class="topic">
<h1> Meify</h1>
<p>明治大学授業評価掲示板</p>
</div>
<div class="ribbon5">
 <h3><%= link_to "授業に関する評価や感想を投稿する", new_lessonse_path%></h3>
</div>
<p></p>
<div class="ribon">
<div class="ribbon9">
<h3>新着授業評価情報</h3>
</div>
</div>
    <% @lessonses.each do |lessonse|%>
    <div class="box10">
    <p><%=lessonse.created_at.to_s(:datetime_jp)%></p>
    <h4>教授名</h4>
    <p class="t"><%= link_to lessonse.teacher_name,lessonse_path(lessonse.id)%></p>
    <p>-----------------------------------------------------------------------------------------------------</p>
    <h4>授業名</h4>
    <p class="t"><%= link_to lessonse.title, lessonse_path(lessonse.id)%></p>
    <p>-----------------------------------------------------------------------------------------------------</p>
    <h4>授業評価</h4>
    <div class="box14">
    <span><%=lessonse.body%></span>
    </div>
    <div class="row">
    <div class="favorite">
    <p>この授業がおすすめであれば<br><span class="red">一番上の投稿に</span>いいねしてください</p>

    <div class="heart">
    <% if current_user.already_likesed?(lessonse) %>
     <%= link_to lessonse_likese_path(lessonse), method: :delete do %>
        <span class="glyphicon glyphicon-heart"><%= lessonse.likeses.count%></span>
    <%end%>
    <% else %>
    <%= link_to lessonse_likeses_path(lessonse), method: :post do %>
    <span class="glyphicon glyphicon-heart-empty"><%= lessonse.likeses.count %></span>
    <% end %>
    <%end%>
    </div>
    </div>
    </div>
    </div>
    <%end%>
    <%= link_to :back do %>
        <button>戻る</button>
    <% end %>

</div>

<div class="col-md-2 col-xs-12">
<div class="box25">
<h3>Ranking  <i class="fas fa-crown"></i></h3>
<% @all_ranks.each.with_index(1) do |rank, i|%>
<p>第<%=i%>位</p>
<p><%= link_to rank.title, lessonse_path(rank.id)%><%= rank.likeses.count%>いいね</p>
<%end%>
</div>
</div>
