
<%= stylesheet_link_tag "lessons/lessons", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<div class="col-md-7 col-md-offset-3 col-xs-12">
<%= form_for @lessonb do |f| %>
    <div class="box10">
    <h4>担当の教授</h4>
    <%= f.text_field :teacher_name %>
    <h4>授業名</h4>
    <%= f.text_field :title %>
    <h4>授業に対する評価</h4>
    <span><%= f.text_area :body, size: "82x20"%><span>
    <br><%= f.submit "投稿する", class:"btn btn-primary btn-block " %>
    </div>
<% end %>
<%= link_to :back do %>
  <button>戻る</button>
<% end %>
</div>