<%= stylesheet_link_tag "lessons/lessons", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<div class="col-md-3 col-xs-12" >
<ul class="note">
<li><%= link_to "法学部",lessonhs_path%></li>
<li><%= link_to "商学部",lessonsyos_path%></li>
<li><%= link_to "政治経済学部",lessonses_path%></li>
<li><%= link_to "経営学部",lessonkes_path%></li>
<li><%= link_to "文学部",lessonbs_path%></li>
<li><%= link_to "情報コミュニケーション学部",lessons_path%></li>
<li><%= link_to "国際日本学部",lessonkos_path%></li>
<li><%= link_to "理工学部",lessonris_path%></li>
<li><%= link_to "農学部",lessonnos_path%></li>
<li><%= link_to "総合数理学部",lessonsos_path%></li>
<li><%= link_to "全学部共通科目",lessonkyos_path%></li>
</ul>
</div>
<div class="col-md-7 col-xs-12" >
<div class="topic">
<h1> Meify</h1>
<p>明治大学授業評価掲示板</p>
</div>
<div class="ribbon5">
 <h3><%= link_to "授業に関する評価や感想を投稿する", new_lessonsyo_path%></h3>
</div>
<p></p>
<div class="ribon">
<div class="ribbon9">
<h3>新着授業評価情報</h3>
</div>
</div>
    <% @lessonsyos.each do |lessonsyo|%>
    <div class="box10">
    <p><%=lessonsyo.created_at.to_s(:datetime_jp)%></p>
    <h4>教授名</h4>
    <p class="t"><%= link_to lessonsyo.teacher_name,lessonsyo_path(lessonsyo.id)%></p>
    <p>-----------------------------------------------------------------------------------------------------</p>
    <h4>授業名</h4>
    <p class="t"><%= link_to lessonsyo.title, lessonsyo_path(lessonsyo.id)%></p>
    <p>-----------------------------------------------------------------------------------------------------</p>
    <h4>授業評価</h4>
    <div class="box14">
    <span><%=lessonsyo.body%></span>
    </div>
    </div>
    <%end%>
    <%= paginate @lessonsyos %>
    <%= link_to :back do %>
        <button>戻る</button>
    <% end %>
</div>

<div class="col-md-2 col-xs-12">
<div class="box25">
<h3>Ranking  <i class="fas fa-crown"></i></h3>
<% @all_ranks.each.with_index(1) do |rank, i|%>
<p>第<%=i%>位</p>
<p><%= link_to rank.title, lessonsyo_path(rank.id)%> <%= rank.likesyos.count%>いいね</p>
<%end%>
</div>
</div>


